/* Common CSS start */
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: block;
}
ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,ul,ol{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Poppins font end */
/* Common CSS end */